<!DOCTYPE html>
<html>
	<head>
		<title>Etai Miller Blog</title>
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		<h1>Hi there, I'm Etai Miller!</h1>
				<p>I write about technology <em>Software things</em> so here is some stuff. <a href="/about">Read more about my life...</a></p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:etaimills@gmail.com">email</a></li>
			</ul>
		</footer>
	</body>
</html>
